<div class="header">
  {{#link-to 'index'}}<span class="logo">HOME</span>{{/link-to}}
  <h1 id="title">Ask Me</h1>
</div>

{{outlet}}

<div class="footer">
<hr>
<p>Created at Epicodus by Taylor Pokoj | &copy; 2016 All Rights Reserved</p>
</div>
