<h1>This is the homepage !</h1>

<h2>Question List:</h2>
<div class="questionList">
  {{#each model as |question|}}
  {{question-tile question=question}}
{{/each}}
</div>

{{new-question saveQuestion="saveQuestion" question=model}}
