{{question-detail deleteQuestion="deleteQuestion" question=model}}

{{edit-question saveQuestionEdit="saveQuestionEdit" question=model}}

{{new-answer saveNewAnswer="saveNewAnswer" question=model}}

<div class="answerList">
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</div>
